@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

* {
margin:0;
padding:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
  -webkit-background-size: cover;
  box-sizing: border-box;
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat-y;
  width: auto;
  height: 100%;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  overflow-x: visible;
}

div.container {
  margin: 40px auto;
}

header.header {
  margin: 25px auto;
}

.header {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  text-align: center;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  border-radius: 1em;
}

h1 {
  font-size: 60px;
  margin: 20px;
  padding: 10px 5px 5px 5px;
  font-weight: bold;
  text-transform: uppercase;
}

header p {
  font-size: 40px;
}

h2 {
  color: black;
  font-size: 30px;
  text-align: center;
}

nav {
  position: relative;
  margin: 20px 0;
}

.navbar-toggler {
  height: 50px;
  width: 50px;
  margin: 5px 30px 5px 0;
  background-image: none;
  border: none;
  position: relative;
  box-shadow: none;
  cursor: pointer;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 27px;
  height: 2px;
  border-radius: 1px;
}

.icon-bar {
  background-color: black;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 7px;
}

.navbar-brand {
  font-size: 35px;
  padding: 0 30px;
  position: relative;
}

.nav-item {
  font-size: 20px !important;
  padding-left: 0.5em;
  margin-right: 10px;
  font-weight: bold;
  position: relative;
}

.navbar-nav li a {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
  transition: all 1s ease;
  background: rgba(0, 255, 255, 0);
  color: #696969;
  border-top: 4px solid rgba(0, 255, 255, 0);
  border-bottom: 4px solid rgba(0, 255, 255, 0);
  padding: 20px 0;
  margin: 10px 20px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #696969;
    border-top: 4px solid #696969;
    border-bottom: 4px solid #696969;
    padding: 3px 3px;
}

button.navbar-toggler {
  overflow: visible;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.row {
  width: 100%;
  margin: 20px auto;
}

.col-md-4 .col-xs-12 {
  float: left;
  width: 80%;
  padding: 20px 10px;
  margin: 10px auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  padding-top: 10px;
}

.card-content {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 2s ease;
  transform-style: preserve-3d;
  height: 80%;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 10px;
  backface-visibility: hidden;
  border-radius: 25px;
}

.card-back {
  padding: 10px 5px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

 h3.card-title {
  color: black;
  font-weight: bold;
  font-size: 5vh 5vw;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

h4.card-title {
 color: black;
 font-weight: bold;
 font-size: 4vh 4vw;
 text-align: center;
 margin: 0 auto;
 padding: 5px 10px 0 10px;
}

.card-back p {
  margin: 20px 10px;
  padding: 10px 5px;
  font-size: 5vw;
  text-align: center;
}

.card-back p a {
  color: black;
}

footer {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px auto;
  width: 100%
}

.footer-content {
  text-align: center;
  width:100%;
  height: 100px;
  padding: 10px 0;
}

p.madeby {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  margin: 0 auto;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoInsta:hover {
	background-color:#F33B9B;
}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInsta:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
