@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

* {
  margin: 10px;
  padding: 10px;
  font-family: 'Indie Flower', cursive;
}

.header {
  height: 80%;
  width:98%;
  margin-left: 17px;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  border-radius: 1em;
  margin-top: 8vh;
}

.main-nav {
width: 100%;
list-style: none;
margin-right: 30px;
text-align: right;
position: absolute;
padding-right: 20px;
}

.main-nav li {
display:inline-block;
margin: 5px;
}

.main-nav li a {
color:black;
text-decoration:none;
padding: 1vh 1vw;
font-family: 'Indie Flower', cursive;
font-size: 20px;
}

.main-nav li.active a {
border: 1px solid black;
border-radius: 25px;
}

.main-nav li a:hover {
border: 1px solid black;
border-radius: 25px;
}

h1 {
color:black;
text-transform: uppercase;
font-size: 70px;
text-align: center;
font-family: 'Indie Flower', cursive;
margin-top: 7vh;
}

h2 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-left: 8vw;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

h3 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin-top: 5vh;
  margin-left: 30%;
  display: inline-block;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  height: 100%;
  width: 85%;
  transition: all 1s;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 25px;
  margin-left: 0%;
}

a:hover {
  color: black;
}

.col-centered {
  margin: 0 auto;
  float:none;
}
.card-container {
  height: 55vh;
  width: 30rem;
  perspective: 200rem;
  position: relative;
}
.card-container:hover .card-front {
  transform: rotateY(180deg);
  opacity: 1;
  backface-visibility: hidden;
}

.card-container:hover .card-back {
  transform: rotateY(0deg);
  opacity: 1;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg)
  opacity: 1;
  backface-visibility: hidden;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid black;
    opacity: 0;
    border-radius: 5px;
}

footer {
  height: 10vh;
  background-color: white ;
  text-align: center;
  width:100%;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

.madeby {
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
