@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

* {
margin:0;
padding:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
  -webkit-background-size: cover;
  box-sizing: border-box;
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat-y;
  width: auto;
  height: 100%;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  overflow-x: visible;
}

nav {
  position: relative;
  margin: 20px 0;
}

.navbar-toggler {
  height: 50px;
  width: 50px;
  margin: 5px 30px 5px 0;
  background-image: none;
  border: none;
  position: relative;
  box-shadow: none;
  cursor: pointer;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 27px;
  height: 2px;
  border-radius: 1px;
}

.icon-bar {
  background-color: black;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 7px;
}

.navbar-brand {
  font-size: 35px;
  padding: 0 30px;
  position: relative;
}

.nav-item {
  font-size: 20px !important;
  padding-left: 0.5em;
  margin-right: 10px;
  font-weight: bold;
  position: relative;
}

.navbar-nav li a {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
  transition: all 1s ease;
  background: rgba(0, 255, 255, 0);
  color: #696969;
  border-top: 4px solid rgba(0, 255, 255, 0);
  border-bottom: 4px solid rgba(0, 255, 255, 0);
  padding: 20px 0;
  margin: 10px 20px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #696969;
    border-top: 4px solid #696969;
    border-bottom: 4px solid #696969;
    padding: 3px 3px;
}

button.navbar-toggler {
  overflow: visible;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px 10px;
  margin: 0 auto;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  word-wrap: normal;
}

.container h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(255,255,255,0);
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,0);
  border-radius: .5em;
  margin: 1px auto;
  width: 95%;
  padding: 20px;
  font-weight: bold;
}

.container #content {
margin: 1px auto;
background-color: rgba(194, 82, 138, 0.7);
border: 1px solid white;
border-radius: 1em;
width: 85%;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
flex-flow: wrap;
}

div.container #content p {
  text-align: center;
  font-size: 30px;
  word-wrap: normal;
  margin: 20px 15px 20px 15px;
  padding: 20px 15px 5px 15px;
  font-weight: normal;

}

form {
  margin: 20px 15px 20px 15px;
  padding: 5px 15px 20px 15px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

label {
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

 input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 25px;
  text-align: center;
  width: 70%;
}

button {
  background-color: rgba(255,255,255,0.9);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 25px;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  margin: 15px;
}

button:hover {
  color: black;
  text-decoration: underline;
}

p#demo {
  font-size: 30px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
}

.container #carousel {
margin:1px auto 10px auto;
background-color: rgba(144,238,144, 0.7);
border: 1px solid white;
border-radius: 1em;
width: 100%;
text-align: center;
padding: 30px;
}

h3 {
  font-size: 40px;
  text-align: center;
  margin: 40px 20px 50px 20px;
}

.container #carousel h4 {
  font-size:70px;
  font-weight: bold;
}

.carousel-item {
  border-radius: 1em;
}

$('.carousel').carousel()

@media screen and (max-width: 768px){
  .container h1 {
    width: 90%;
  }
  .container #content {
    width: 90%;
  }
  .container #carousel {
    width: 90%;
  }
}

div#more.container {
  margin-top: 20px;
}

h5 {
  text-align: center;
  font-size: 40px;
  margin: 40px auto 30px auto;
}

a.button {
  background-color: rgba(233,206,1,0.6);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 25px;
  color: black;
  padding: 15px;
  margin: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

a.button:hover {
  color: black;
  text-decoration: underline;
}

footer {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px auto;
  width: 100%
}

.footer-content {
  text-align: center;
  width:100%;
  height: 100px;
  padding: 10px 0;
}

p.madeby {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  margin: 0 auto;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoInsta:hover {
	background-color:#F33B9B;
}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInsta:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
